{% extends 'base.html' %}

{% block content %}
  <body align="center">
  <h1>CrowdGuru Login</h1>
  <div class="login-box">
    <form action="/checklogin" method="post">
      <input type="text" name="username" size="20" class="form-control" placeholder="Username">
      <input type="password" name="password" size="20" class="form-control" placeholder="Password">
      <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block">
    </form>
  </div>
  <br>
  <br>
  <h2>Sign Up</h2>
  <div class="login-box">
    <form action="/createaccount" method="post">
      <p>Please fill out the following information:</p>
      <input type="text" name="username" size="20" class="form-control" placeholder="Username">
      <input type="password" name="password" size="20" class="form-control" placeholder="Password">
      <input type="submit" value="Sign Up!" class="btn btn-lg btn-primary btn-block">
    </form>
  </div>

</body>

{% endblock %}