{% extends 'base.html' %}

{% block content %}
<body align="center">
  <h1>Top Gurus (by Reputation)</h1>
  {% for result in results %}
  <div style="min-height: 200px">
    {% for group in result %}
    <div style="margin-left: 5%; float: left; width: 20%;" align="left">
    <h3>{{group.category}}</h3>
    <ol>
    {% for user, points in group.users %}
      <li><a href="/user/{{user.id }}">{{ user.username }}</a>: {{points}} </li>
    {% endfor %}
    </ol>
  </div>
  {% endfor %}
  </div>
  {% endfor %}
</body>
{% endblock %}